<h1>Pricing</h1>
<table cellpadding="5" cellspacing="0" border="1">
  <tr>
    <td>Option</td>
    <td>Cost</td>
  </tr>
  <tr>
    <td>Option 1</td>
    <td>$75</td>
  </tr>
  <tr>
    <td>Option 2</td>
    <td>$100</td>
  </tr>
  <tr>
    <td>Option 3</td>
    <td>$125</td>
  </tr>
</table>

<p><%= link_to "Contact", contact_path %></p>

<p><%= link_to "Sign Up", '#' %></p>
