<h1>Contacts</h1>

<table cellpadding="5" cellspacing="0">
  <tr>
    <th>Respond?</th>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
  </tr>
<% @contacts.each do |contact| %>
  <tr>
    <td></td>
    <td><%= contact.name %></td>
    <td><%= contact.email %></td>
    <td><%= link_to "Show", contact_path(contact) %></td>
    <td><%= link_to "Delete", admin_contact_path(contact), :confirm => "Are you sure?", :method => :delete %>
  </tr>
<% end %>
</table>
