<nav>
  <% if current_user %>
    <% if current_user.role? :admin %>
      <%= link_to "Users", admin_users_path %> |
    <% end %>
    <%= link_to 'Logout', admin_logout_path %>
  <% else %>
    <%= link_to 'Login', admin_login_path %>
  <% end %>
</nav>
