<nav>
  <% if current_user %>
    <%= link_to "Users", admin_users_path %> |
    <%= link_to 'Logout', admin_logout_path %>
  <% else %>
    <%= link_to 'Login', admin_login_path %>
  <% end %>
</nav>
